{% extends 'base.html.twig' %}

{% block title %}
    {% if  app.request.attributes.get('_route') == 'createBlogCategories' %}
        Create Category
    {% elseif app.request.attributes.get('_route') == 'editBlogCategories' %}
        Edit Category
    {% endif %}
{% endblock %}

{% block body %}

    <div class="page-container">

        <div class="d-flex flex-column gap-2 gap-md-4">
            <div class="padding-header">
                {% include 'components/_button.html.twig' with {
                    typeButton: 'secondary',
                    path: 'javascript:history.back()',
                    iconType: 'back',
                    iconColor: 'black',
                } %}
            </div>


            <div class="blog-header">
                <h1 class="text-uppercase">
                    {% if  app.request.attributes.get('_route') == 'createBlogCategories' %}
                        Create Category
                    {% elseif app.request.attributes.get('_route') == 'editBlogCategories' %}
                        Edit Category
                    {% endif %}
                </h1>
            </div>
        </div>

        {{ include ('components/_categoryForm.html.twig') }}
    </div>

{% endblock %}
