version: "3.8"

services:
    php:
        build: .
        container_name: symfony_app
        volumes:
            - .:/var/www
        ports:
            - "8000:8000"
        depends_on:
            mysql:
                condition: service_healthy
            mailer:
                condition: service_started
        networks:
            - app-network
        command: php -S 0.0.0.0:8000 -t public
        environment:
            - DATABASE_URL=mysql://root:root@mysql:3306/blogifydb_v2?serverVersion=8.0.32
            - MAILER_DSN=smtp://mailer:1025

    mysql:
        image: mysql:8.0.32
        platform: linux/arm64/v8
        container_name: mysql-1
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: blogifydb_v2
        ports:
            - "3308:3306"
        networks:
            - app-network
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            timeout: 5s
            retries: 10

    adminer:
        image: adminer
        container_name: adminer-1
        restart: always
        ports:
            - "8080:8080"
        networks:
            - app-network
        depends_on:
            - mysql

    mailer:
        image: schickling/mailcatcher
        container_name: mailer-1
        restart: always
        ports:
            - "1080:1080"  # Web interface
            - "1025:1025"  # SMTP
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
