version: "3.8"

services:
    mailer:
        image: schickling/mailcatcher
        container_name: mailer-1
        restart: always
        ports:
            - "1080:1080"  # Web interface
            - "1025:1025"  # SMTP
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
