//! Primary Button
.button-primary {
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;

    border: 2px solid transparent; // transparent needed for border-image
    border-image: linear-gradient(to top left, #111111, #7a7a7a) 1; // opposite direction of background
    background: linear-gradient(to bottom right, #111111, #7a7a7a);
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    padding: 6px 10px;

    &.with-text {
        padding: 6px 20px;
    }

    &:hover {
        opacity: 90%;
        transition: opacity 0.2s ease-in-out;
    }

    &--fullWidth {
        width: 100%;
    }

    &--halfWidth {
        width: 50%;
    }

    &.disabled-btn {
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }
}


//! Secondary Button
.button-secondary {
    color: #111111;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;

    border: 1px solid transparent; // transparent needed for border-image
    border-image: linear-gradient(to top left, #111111, #dedede) 1; // opposite direction of background
    background-color: white;
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    padding: 6px 10px;

    &.with-text {
        padding: 6px 20px;
    }

    &:hover {
        background-color: #eeeeee;
        transition: background-color 0.2s ease-in-out;
    }

    &--fullWidth {
        width: 100%;
    }

    &--halfWidth {
        width: 50%;
    }
}

//! Button icon
.button-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
        height: 24px;
        fill: #111111;
        transition: fill 0.2s ease-in-out;
    }

    &:hover svg {
        fill: #7a7a7a;
    }
}


//! Blurred Button
.button-blurred {
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;

    border: 1px solid transparent; // transparent needed for border-image
    border-image: linear-gradient(to top left, #4f4f4f, #c7c7c7) 1; // opposite direction of background
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    padding: 6px 10px;

    &.with-text {
        padding: 6px 20px;
    }

    &:hover {
        opacity: 90%;
        transition: opacity 0.2s ease-in-out;
    }

    .fullWidth {
        width: 100%;
    }

    .halfWidth {
        width: 50%;
    }
}
