.glass-radio-group {
    display: flex;
    position: relative;
    background-color: #E5E5E5;
    overflow: hidden;
    width: fit-content;
    padding: 3px; // <-- padding for inner spacing


    input {
        display: none;
    }

    label {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 280px;
        font-weight: 500;
        padding: 0.6rem 1.6rem;
        cursor: pointer;
        letter-spacing: 0.3px;
        color: var(--bs-secondary);
        position: relative;
        z-index: 2;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--bs-black);


        }
    }

    input:checked + label {
        color: var(--bs-black);

    }

    .glass-glider {
        position: absolute;
        top: 3px;
        bottom: 3px;
        width: calc(50% - 3px); // full width minus both side paddings
        // calc(100% / 2); // adjust if more/less options
        z-index: 1;
        transition: transform 0.3s
    }

    // --- Variants ---
    #glass-silver:checked ~ .glass-glider {
        transform: translateX(0%);
        background-color: var(--bs-white);

    }

    #glass-gold:checked ~ .glass-glider {
        transform: translateX(100%);
        background-color: var(--bs-white);

    }
}
