//! TOAST NOTIFICATIONS

.notification-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transform: translateY(-20%);
    max-width: 600px;
    z-index: 999;
    gap: 20px;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 400px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0;
    animation: fadeInOut 4s forwards;

    .icon {
        height: 100%;
        padding: 10px 15px;
    }

    .icon.success {
        border-right: 1px solid #A2CEBB;
    }

    .icon.error {
        border-right: 1px solid #F0AEB5;
    }

    .icon.warning {
        border-right: 1px solid #FFE59B;
    }

    .icon.info {
        border-right: 1px solid #ACB5BD;
    }


    p {
        padding: 10px 15px;
    }
}

/* Success Notification */
.notification.success {
    background-color: #D1E7DE;
    border: 1px solid #A2CEBB;
    color: var(--bs-success);
}

/* Error Notification */
.notification.error {
    background-color: #F9D7DB;
    border: 1px solid #F0AEB5;
    color: var(--bs-danger);
}

/* Warning Notification */
.notification.warning {
    background-color: #fcf1c4;
    border: 1px solid #FFE59B;
    color: var(--bs-warning);
}

/* Info Notification */
.notification.info {
    background-color: rgba(205, 212, 219, 0.59);
    border: 1px solid #ACB5BD;
    color: var(--bs-info);
}


/* Fade In and Out Animation */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
