{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-container">
        {#    {{ form(formBlog) }} #}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="glass-radio-group mb-5">
                <input type="radio" name="plan" id="glass-silver" checked=""/>
                <label for="glass-silver">Login</label>

                <input type="radio" name="plan" id="glass-gold"/>
                <label for="glass-gold">Register</label>

                <div class="glass-glider"></div>
            </div>
            <div class="w-50 d-flex flex-column form-wrapper mt-5">

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput"
                           placeholder="name@example.com"/>
                    <label for="floatingInput">Email address</label>
                </div>


                {#  {{ form_rest(formBlog) }} #}

            </div>
        </div>

        <div class="container-fluid ">
            <button class="btn btn-primary">Click here</button>
        </div>

    </div>

{% endblock %}
