{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
    <div class="page-container">

        <p>You liked a blog check the database</p>
    </div>
{% endblock %}
