{% if date(createdAt) > date('-1day') %}
    <li class="text-blue-300">
        {{ createdAt|date('F j, Y') }}
        <span class="text-[10px] text-red-500">New</span>
    </li>
{% else %}
    <li class="text-gray-300">{{ createdAt|date('F j, Y') }}
    </li>
{% endif %}
