{% if date(createdAt) > date('-1day') %}
    <p class="text-secondary ">
        {{ createdAt|date('F j, Y') }} -
        <span class="fw-semibold">New</span>
    </p>
{% else %}
    <p class="text-gray-300">{{ createdAt|date('F j, Y') }}
    </p>
{% endif %}
