{% extends 'base.html.twig' %}


{% block title %}Blogs{% endblock %}


{% block body %}

    {#    {% set images = [ #}
    {#        'images/34A0294_Matze-Ried.png', #}
    {#        'images/34A0294_Matze-Ried.png', #}
    {#        'images/34A0294_Matze-Ried.png' #}
    {#    ] %} #}

    {#    <div class="h-50"> #}
    {#        {% include 'components/_carouselProduct.html.twig' with { images: images } %} #}
    {#    </div> #}

    <div class="page-container">

        <div class="d-flex flex-column gap-1 mb-4 px-4">
            <h1 class="text-uppercase fs-3">Blogs</h1>
            <p class="fw-light">All blogs will be here (+ pagination, search, filter, open single blog)</p>
        </div>


    </div>

{% endblock %}
