{% extends 'base.html.twig' %}


{% block title %}All Blogs{% endblock %}


{% block body %}

    <div class="page-container">
        <h2>All blogs will be here (+ pagination, search, filter, open single blog)</h2>
    </div>

{% endblock %}
