{% extends 'base.html.twig' %}

{% block title %}Blog Categories{% endblock %}

{% block body %}

    <div class="page-container">

        <div class="d-flex flex-column gap-2 gap-md-4">
            <div class="padding-header">
                {% include 'components/_button.html.twig' with {
                    typeButton: 'secondary',
                    path: 'javascript:history.back()',
                    iconType: 'back',
                    iconColor: 'black',
                } %}
            </div>


            <div class="blog-header">
                <div class="d-flex align-items-start gap-2">
                    <h1 class="text-uppercase">CATEGORIES</h1>
                    <small>{{ blogCategories|length }}</small>
                </div>
                <p class="fw-light">Update and delete categories here</p>
            </div>
        </div>

        <div class="padding-header">
            <div class="d-flex justify-content-end w-100 mb-3">
                {% include 'components/_button.html.twig' with {
                    typeButton: 'primary',
                    path: path('blog.create'),
                    textButton: 'New Category',
                    iconType: 'add',
                    iconColor: 'white',
                } %}
            </div>
            {% for key,category in blogCategories %}
                <span>{{ category.name }}</span>
            {% endfor %}
        </div>


    </div>


{% endblock %}
