{% extends 'base.html.twig' %}

{% block title %}Blog Categories{% endblock %}

{% block body %}

    <div class="page-container">

        <div class="d-flex flex-column gap-1 mb-4 ">
            <div class="d-flex align-items-start gap-2">
                <h1 class="text-uppercase fs-3">CATEGORIES</h1>
                <span>({{ blogCategories|length }})</span>
            </div>
            <p class="fw-light">Update and delete categories here</p>
        </div>

        {% for key,category in blogCategories %}
            <span>{{ category.name }}</span>
        {% endfor %}

    </div>


{% endblock %}
