{% extends 'base.html.twig' %}

{% block title %}Blog Categories{% endblock %}

{% block body %}

    <div class="page-container">

        <h2>CATEGORIES</h2>

        <div>
            <a href="{{ path('blog.create') }}">Create new category</a>
        </div>

        <br>
        {% for key,category in blogCategories %}
            <span>{{ category.name }}</span>
        {% endfor %}

    </div>


{% endblock %}
