{% extends 'base.html.twig' %}


{% block title %}Update Blogs{% endblock %}


{% block body %}
    <br>

    <div class="container">
        <h2>Update Blogs</h2>
        <br>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Blog Nr.</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
            </thead>
            <tbody>
            {% for key,blog in blogs %}
                <tr>
                    <th scope="row">{{ blog.id }}</th>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
