{% extends 'base.html.twig' %}


{% block title %}Blogs{% endblock %}




{% block body %}

    {#    {% set images = [ #}
    {#        'images/34A0294_Matze-Ried.png', #}
    {#        'images/34A0294_Matze-Ried.png', #}
    {#        'images/34A0294_Matze-Ried.png' #}
    {#    ] %} #}

    {#    <div class="h-50"> #}
    {#        {% include 'components/_carouselProduct.html.twig' with { images: images } %} #}
    {#    </div> #}

    <div class="page-container">

        <div class="d-flex align-items-center justify-content-between">
            <div class="blog-header">
                <h1 class="text-uppercase">BLOGS</h1>
                <p class="fw-light">All blogs will be here (+ pagination, search, filter, open single blog)</p>
            </div>
        </div>

        <div class="sticky-categories px-2 px-md-4">
            {% include 'components/_blogCategories.html.twig' with { blogCategories: blogCategories } %}
            <li class="nav-item dropdown list-unstyled">
                <a class="nav-link d-flex gap-2" href="{{ path('blog.allBlogs') }}" role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Most recent
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 9L12 15L10.25 13.5M5 9L7.33333 11" stroke="black" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                <ul class="dropdown-menu fs-7">
                    <li><a class="dropdown-item" href="{{ path('blog.allBlogs') }}">All blogs</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item mt-1" href="#">Something else here</a></li>
                </ul>
            </li>
        </div>

        {# Blogs cards #}
        {% include 'components/_blogList.html.twig' with { blogs: blogs } %}


    </div>

{% endblock %}
