{% extends 'base.html.twig' %}

{% block title %}Update Blog{% endblock %}

{% block body %}

    <div class="page-container">

        <div class="d-flex flex-column gap-4 mb-4 px-4">
            <div class=" mb-2">
                {% include 'components/_button.html.twig' with {
                    typeButton: 'secondary',
                    path: path('blog.blogsTable'),
                    iconType: 'back',
                    iconColor: 'black',
                } %}
            </div>

            <div class="d-flex flex-column gap-1">
                <h1 class="text-uppercase fs-3">Edit your Blog Post</h1>
                <p class="fw-light">Hit the "Save" button after finishing the editing.</p>
            </div>
        </div>

        {{ include ('components/_blogForm.html.twig') }}
    </div>

{% endblock %}
