$border-radius-sm: 0;
$border-radius: 0;
$border-radius-lg: 0;
$primary: #121212;
$secondary: #ababab;
$border-radius: 0;
$body-bg: #F5F5F5;

@import "scss/form";
@import "scss/link";
@import "scss/switchBtn";
@import "scss/toast";
@import "scss/buttons";
@import "~bootstrap/scss/bootstrap";
@import "scss/utilities";


// My custom styles
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin: 0;
}


//! Logo
.petarisia-main-logo {
    display: flex;
    gap: 8px;
    align-items: flex-end;

    img {
        height: 20px;
        width: auto;
    }

    .sub-logo {
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        line-height: 1;
    }
}


//! Containers
.page-container {
    padding-top: 140px; // space for fixed header
}


//! Categories style
.sticky-categories {
    position: sticky;
    top: 75px;
    height: 50px;
    z-index: 10;
    background-color: #F5F5F5;
    border-bottom: 1px solid #eee;

    display: flex;
    align-items: center;
}

.new_tag {
    color: #1E40AF;
    font-size: 12px;
    background-color: #DBEAFE;
    padding: 1px 8px;
    border-radius: 100px;
}


.blog-image {
    min-height: 350px; // 👈 set your preferred minimum height
    object-fit: cover; // keeps image proportional, crops if needed
    width: 100%; // ensures it spans the column
}

.blog-bg {
    position: relative;
    min-height: 80vh;
    color: white;
    overflow: hidden;

    .bg-layer {
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: center;
        transition: opacity 1s ease, transform 1s ease;
    }

    .bg-layer.base {
        background-image: var(--bg-image);
        opacity: 1;
        transform: scale(1);
    }

    .bg-layer.hover {
        background-image: var(--bg-image-hover);
        opacity: 0;
        transform: scale(1.1); // zoomed
    }

    &:hover {
        .bg-layer.base {
            opacity: 0;
            transform: scale(1.1);
        }

        .bg-layer.hover {
            opacity: 1;
            transform: scale(1);
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
        z-index: 1;
    }

    .z-1 {
        position: relative;
        z-index: 2;
    }
}


.carousel-control-prev,
.carousel-control-next {
    width: auto; // shrink to fit content instead of covering whole side
    padding: 1rem; // some space around the icon
    pointer-events: none; // disable catching clicks
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    pointer-events: auto; // re-enable clicks just for the icons
}
