<div class="row align-items-start pt-3 w-100">
    {% if flip is not defined or not flip %}
        {# Left small column, right background column #}
        <div class="col-4">
            {% include 'components/_blogCardSmall.html.twig' with { blog: blog } %}
        </div>
        <div class="col-8 px-4 pb-5 d-flex flex-column justify-content-end blog-bg"
             style="background-image: url('{{ asset(blog.image) }}');">
            {% include 'components/_blogCardLarge.html.twig' with { blog: blog } %}
        </div>
    {% else %}
        {# Flipped order: left background column, right small column #}
        <div class="col-8 px-4 pb-5 d-flex flex-column justify-content-end blog-bg"
             style="background-image: url('{{ asset(blog.image) }}');">
            {% include 'components/_blogCardLarge.html.twig' with { blog: blog } %}
        </div>
        <div class="col-4">
            {% include 'components/_blogCardSmall.html.twig' with { blog: blog } %}
        </div>
    {% endif %}
</div>
