<ul class="d-flex align-items-center gap-3 gap-md-4 p-2 m-0 overflow-auto hide-scrollbar">
    {% for category in blogCategories %}
        <li>
            {#            <a href="{{ path('blog.byCategory', {id: category.id}) }}"> #}
            <a href="#">
                <span
                    class="link-no-underline-black fw-normal fs-responsive d-flex align-items-center position-relative">
                    {{ category.name }}

                    {# Calculate if createdAt is within last 3 days #}
                    {% set now = "now"| date("U") %}
                    {% set created = category.createdAt|date("U") %}
                    {% set diff = (now - created) / 86400 %} {# seconds → days #}

                    {% if diff < 7 %}
                        <span class="new_category_indicator"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              data-bs-title="New category"></span>
                    {% endif %}

                </span>
            </a>
        </li>
    {% endfor %}
</ul>
