<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center gap-4"
     style="height: 30vh;">
    <h4>{{ message }}</h4>
    <p class="fw-light px-4">
        It looks like there’s nothing here right now. Start by creating your first
        <a href="{{ path(linkPath) }}" class="link-underline-black">{{ linkText }}</a>
    </p>
</div>
