<a href="#" class="icon-heart">

    {% set count = likesNum|default(0) %}

    {% if count  > 0 %}
        <div class="likesNum">{{ likesNum }}</div>
    {% endif %}

    <i class="bi bi-heart {{ iconSize }}"></i>

</a>
