<a href="#" class="icon-heart">

    {% set count = likesNum|default(0) %}

    {% if count  > 0 %}
        <div class="likesNum">{{ likesNum }}</div>
    {% endif %}

    <svg width="{{ iconHeightWidth }}" height="{{ iconHeightWidth }}" viewBox="0 0 24 24" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path
            d="M8.96173 18.9109L9.27127 18.5182L8.96173 18.9109ZM12 5.50063L11.6398 5.84737C11.734 5.9453 11.8641 6.00063 12 6.00063C12.1359 6.00063 12.266 5.9453 12.3602 5.84737L12 5.50063ZM15.0383 18.9109L15.3478 19.3035L15.0383 18.9109ZM6.84174 16.6139C6.62852 16.4385 6.31342 16.469 6.13794 16.6823C5.96246 16.8955 5.99306 17.2106 6.20627 17.3861L6.52401 17L6.84174 16.6139ZM2.56132 13.2915C2.69383 13.5338 2.99765 13.6228 3.23992 13.4903C3.4822 13.3578 3.57118 13.0539 3.43868 12.8117L3 13.0516L2.56132 13.2915ZM2 9.1371H2.5C2.5 6.8927 3.76859 4.99759 5.52043 4.19682C7.24074 3.41046 9.5178 3.64273 11.6398 5.84737L12 5.50063L12.3602 5.1539C9.98236 2.68336 7.25942 2.3024 5.1047 3.28733C2.98149 4.25786 1.5 6.51856 1.5 9.1371H2ZM8.96173 18.9109L8.65219 19.3035C9.16673 19.7092 9.70317 20.1286 10.243 20.4441C10.7826 20.7594 11.3731 21 12 21V20.5V20C11.6269 20 11.2174 19.8553 10.7475 19.5807C10.2777 19.3062 9.79501 18.9311 9.27127 18.5182L8.96173 18.9109ZM15.0383 18.9109L15.3478 19.3035C16.7893 18.1672 18.5851 16.8989 19.9964 15.3098C21.4247 13.7014 22.5 11.7246 22.5 9.1371H22H21.5C21.5 11.4125 20.5656 13.1629 19.2486 14.6458C17.9146 16.148 16.2295 17.3351 14.7287 18.5182L15.0383 18.9109ZM22 9.1371H22.5C22.5 6.51856 21.0185 4.25786 18.8953 3.28733C16.7406 2.3024 14.0176 2.68336 11.6398 5.1539L12 5.50063L12.3602 5.84737C14.4822 3.64273 16.7593 3.41046 18.4796 4.19682C20.2314 4.99759 21.5 6.8927 21.5 9.1371H22ZM15.0383 18.9109L14.7287 18.5182C14.205 18.9311 13.7223 19.3062 13.2525 19.5807C12.7826 19.8553 12.3731 20 12 20V20.5V21C12.6269 21 13.2174 20.7594 13.757 20.4441C14.2968 20.1286 14.8333 19.7092 15.3478 19.3035L15.0383 18.9109ZM8.96173 18.9109L9.27127 18.5182C8.48423 17.8978 7.66402 17.2907 6.84174 16.6139L6.52401 17L6.20627 17.3861C7.03495 18.0681 7.90062 18.7111 8.65219 19.3035L8.96173 18.9109ZM3 13.0516L3.43868 12.8117C2.859 11.7518 2.5 10.5485 2.5 9.1371H2H1.5C1.5 10.7294 1.90776 12.0965 2.56132 13.2915L3 13.0516Z"
            fill="{{ heartColor }}"></path>
    </svg>

</a>
