<div class="login-paywall">
    <div class="paywall-card">
        <h2 class="mb-3">Login to read all blogs</h2>

        <a href="{{ path('app_login') }}" class="button-primary px-4 py-2">
            Login
        </a>

        <div class="login-advantages mt-4">
            <h6>Login advantages:</h6>
            <ul>
                <li>Save & manage your favorite blogs</li>
                <li>Read all blogs for free</li>
                <li>Get notified when new blogs are published</li>
                <li>Interact with the blogging community</li>
            </ul>
        </div>
    </div>
</div>
