{# <div class="offcanvas offcanvas-end" tabindex="-1" id="{{ modal_id }}" #}
{#     aria-labelledby="offcanvasRightLabel"> #}
{#    <div class="offcanvas-header"> #}
{#        <h4 class="offcanvas-title" id="offcanvasRightLabel">{{ title }}</h4> #}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" #}
{#                aria-label="Close"></button> #}
{#    </div> #}
{#    <div class="offcanvas-body mt-5"> #}
{#        {{ body|raw }} #}
{#    </div> #}
{# </div> #}
