{% if backButton is defined %}
    <div class="padding-header">
        {% include '/components/_button.html.twig' with {
            typeButton: 'secondary',
            path: 'javascript:history.back()',
            iconType: 'back',
            iconColor: 'black',
        } %}
    </div>
{% endif %}

<div class="d-flex justify-content-between align-items-center w-100">

    <div class="d-flex flex-column justify-content-end mb-3">
        <div class="d-flex align-items-start gap-2">
            <h2 class="text-uppercase">{{ title }}</h2>

            {% if count is defined %}
                <small>{{ count }}</small>
            {% endif %}
        </div>
        <p class="fw-light">{{ description }}</p>
    </div>

    {% if buttonType is defined %}
        <div class="d-flex justify-content-end mb-3">
            {% include 'components/_button.html.twig' with {
                typeButton: buttonType|default('primary'),
                path: buttonPath,
                textButton: buttonText,
                iconType: buttonIconType,
                iconColor: buttonIconColor|default('white'),
            } %}
        </div>
    {% endif %}

</div>
