<div class="d-flex justify-content-between align-items-center w-100">

    <div class="d-flex flex-column justify-content-end mb-3">
        <div class="d-flex align-items-start gap-2">
            <h2 class="text-uppercase">{{ title }}</h2>
            <small>{{ count }}</small>
        </div>
        <p class="fw-light">{{ description }}</p>
    </div>

    <div class="d-flex justify-content-end mb-3">
        {% include 'components/_button.html.twig' with {
            typeButton: buttonType|default('primary'),
            path: buttonPath,
            textButton: buttonText,
            iconType: buttonIconType|default('add'),
            iconColor: buttonIconColor|default('white')
        } %}
    </div>

</div>
