<div class="notification {{ type }}">
    <div class="icon {{ type }}">
        {% if type == 'success' %}
            <!-- Success Icon -->
            <i class="bi bi-check-circle text-success fs-4"></i>

        {% elseif type == 'error' %}
            <!-- Error Icon -->
            <i class="bi bi-x-circle text-danger fs-4"></i>

        {% elseif type == 'warning' %}
            <!-- Warning Icon -->
            <i class="bi bi-exclamation-triangle text-warning fs-4"></i>

        {% elseif type == 'info' %}
            <!-- Info Icon -->
            <i class="bi bi-info-circle text-primary fs-4"></i>

        {% endif %}
    </div>
    <p>{{ message }}</p>
</div>
