{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block body %}

    <div class="page-container">

        <div class="d-flex flex-column gap-2 gap-md-4">
            <div class="padding-header">
                {% include '/components/_button.html.twig' with {
                    typeButton: 'secondary',
                    path: 'javascript:history.back()',
                    iconType: 'back',
                    iconColor: 'black',
                } %}
            </div>


            <div class="blog-header">
                <h1 class="text-uppercase">Create a New User</h1>
            </div>
        </div>

        {{ include('components/_userForm.html.twig') }}
    </div>
{% endblock %}
