{% extends 'base.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}
    <div class="page-container">

        <div class="d-flex flex-column gap-4 mb-4 px-4">
            <div class="d-flex justify-content-start">
                <div class=" mb-2">
                    {% include 'components/_button.html.twig' with {
                        typeButton: 'secondary',
                        path: 'javascript:history.back()',
                        iconType: 'back',
                        iconColor: 'black',
                    } %}
                </div>
            </div>

            <div class="d-flex flex-column gap-1">
                <div class="d-flex align-items-start gap-2">
                    <h1 class="text-uppercase fs-3">USERS</h1>
                    <span>{{ users|length }}</span>
                </div>
                <p class="fw-light">Update and delete users here</p>
            </div>
        </div>


        <div>
            {% for user in users %}
                <p>{{ user.username }} is {{ user.age }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
